
/* Search elements */
.search-result {
	h1 {
		margin: 35px 0;
	}
	h3 {
		margin: 10px 0 15px;
		font-size: 16px;
	}	
	p {
		font-size: 13px;
		line-height: 150%;
	}
	.product {
		padding-bottom: 15px;
		border-bottom: 1px solid #dfe1e6;
		margin-bottom: 40px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 15px;
		}
		.search-image {
			overflow: hidden;
			float: left;
			img {
				width: 100px;
			}
		}
		.product-data {
			width: 100%;
			@include media-breakpoint-up(md) {
				width: 70%;
			}
			flex-basis: 80%;
			flex-grow: 0;
			flex-shrink: 0;
			padding: 0 2% 0 0;
		}
		
		.properties {
			font-size: 14px;
			width: 100%;
			clear: both;
			padding-top: 10px;
			@include media-breakpoint-up(md) {
				width: 90%;
				border-left: 1px solid #dfe1e6;
				padding-left: 5%;
			}
			@include media-breakpoint-up(lg) {
				width: 42%;
				padding-left: 4%;
			}
			div {
				margin: 0 0 7px;
			}
		}
		.property {
			display: flex;
			span {
				min-width: 115px;
				display: inline-block;
				font-size: 13px;
				@include media-breakpoint-up(lg) {
					min-width: 125px;
					font-size: 14px;
				}
			}
		}
	}
	.filters {
		h4 {
			margin: 0 0 15px 0;
		}
		.filter-element {
			border-bottom: 1px solid #dfe1e6;
			padding-left: 35px;
			padding-bottom: 15px;
			margin-bottom: 15px;
			div {
				padding-left: 20px;
				position: relative;
				margin-bottom: 7px;
				&.unit-search {
					padding-left: 0;
					.unit-input {
						width: 50px;
						height: 30px;
					}
					.search-btn {
						height: 30px;
						background: #73ae5f;
						color: #FFF;
						margin-top: 10px;
						font-size: 12px;
						position: relative;
						top: -2px;
						cursor: pointer;
						border: none;
					}
				}
			}
			a:before {
				@include chevron($main-brown-color, auto, 45deg);
				left: 0;
				height: 7px;
				width: 7px;
			}
		}
	}
	
	.nav a {
		color: $main-dark-font-color;
	}
	.tab-pane {
		display: none;
		margin-bottom: 35px;
		&.active {
			display: block;
			@include media-breakpoint-up(sm) {
				display: flex;
				.product {
					display: flex;
				}
			}
		}
	}
	
	.searched-post {
		border: 1px solid #DDD;
		padding: 20px;
		height: 100%;
		img {
			width: 100%;
		}
		h3 {
			font-size: 20px;
			margin: 15px 0;
		}
		div {
			margin-top: 20px;
		}
	}
	
	.nav-row ul {
		border-bottom: 1px solid $main-green-color;
		margin-bottom: 25px;
		li {
			background: $white-color;
			padding: 5px 15px;
			border: 1px solid $main-green-color;
			border-bottom: none;
			position: relative;
			bottom: -1px;
			display: inline-block;
			font-size: 1.25em;
			line-height: 40px;
			margin: 0 8px;
			&:hover {
				background: $main-green-color;
			}
			&.active {
				background: $main-green-color;
				a {
					color: $white-color;
				}
			}
		}
	}
}
