
$content-width: 900px;
$implementer-color: #2287D8;
$main-green-color: #73ae5f;
$main-green-hover-color: #518C3D;
$main-brown-color: #554132;
$main-grey-bg-color: #FAF6F3;
$main-dark-font-color: #232323;
$white-color: #FFF;

@import "helpme";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/custom-forms";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";


@import "form-inputs";
@import "style";

@import "main-page";

@import "product";
@import "contact";
@import "misc";
@import "cookie";
@import "search"; 
