<script type="text/x-template" id="ContactTemplate">
     <div class="main-page">
      <div class="header">
        <div class="container">
          <img src="assets/images/logo.png" alt="flyersuit" class="logo">
        </div>
      </div>
      <div class="container">
        <div class="card" id="formCard">
          <h2 class="title">Thank you! You are amazing!</h2>
          <p>We really appreciate that you took the time to complete our survey. <br class="desktop"> It helps us a lot.</p>
          <p>If you send us your name and email address, <span class="bold">you stand a chance to win</span> one of our awesome gifts!</p>
          <form>

            <input type="text" placeholder="Your Name" v-model="dataToSend.fullname">
            <div class="error" id="error_fullname" v-if="validationMsgs.fullname" v-html="validationMsgs.fullname"></div>

            <input type="email" placeholder="Your Email Address" v-model="dataToSend.email">
            <div class="error" id="error_email" v-if="validationMsgs.mail" v-html="validationMsgs.mail"></div>

            <select v-model="dataToSend.country">
              <option>Your country is</option>
              <option>Austria</option>
              <option>Belgium</option>
              <option>Bulgaria</option>
              <option>Croatia</option>
              <option>Republic of Cyprus</option>
              <option>Czech Republic</option>
              <option>Denmark</option>
              <option>Estonia</option>
              <option>Finland</option>
              <option>France</option>
              <option>Germany</option>
              <option>Greece</option>
              <option>Hungary</option>
              <option>Ireland</option>
              <option>Italy</option>
              <option>Latvia</option>
              <option>Lithuania</option>
              <option>Luxembourg</option>
              <option>Malta</option>
              <option>Netherlands</option>
              <option>Poland</option>
              <option>Portugal</option>
              <option>Romania</option>
              <option>Slovakia</option>
              <option>Slovenia</option>
              <option>Spain</option>
              <option>Sweden</option>
            </select>
            <div class="error" id="error_country" v-if="validationMsgs.country" v-html="validationMsgs.country"></div>
			
			
            <h2>Choose Your Preferred Prize <br> <span class="thin">(if you are the winner, we shall contact you by email)</span></h2>
            <div class="prize">
              <img src="assets/images/gym-bag.jpg" alt="Gym bag" v-bind:class="{'active': (dataToSend.prizeType == 'bag')}" v-on:click="selectPrize('bag')">
              <img src="assets/images/tube-scarf.jpg" alt="Tube scarf" v-bind:class="{'active': (dataToSend.prizeType == 'scarf')}" v-on:click="selectPrize('scarf')">
            </div>
            <div class="error" id="error_prize" v-if="validationMsgs.prize" v-html="validationMsgs.prize"></div>

            <label class="checkbox light">
      				<input type="checkbox" v-model="dataToSend.acceptor">
      				<span class="q-radio-label">
      					Agree with the <a href="/privacy-policy.pdf" target="_blank">Privacy Policy</a> and I would like to participate in the draw
      				</span>
      				<span class="checkmark"></span>
      			</label>
      			<div class="error" id="error_acceptor" v-if="validationMsgs.acceptor" v-html="validationMsgs.acceptor"></div>

            <button type="button" v-on:click="goToSurvey()">Finish it!</button>
            <transition name="slide-fade" mode="out-in">
				<div class="loader-line" v-if="isLoading">
					<img src="assets/images/loading2.gif" alt="Loading..."> Just a sec...
				</div>
			</transition>
          </form>
        </div>
      </div>



      <footer>
        <div class="container">
          <img src="assets/images/logo.png" alt="flyersuit">
            <p class="text-center">© 2021 ***.com</p>
            <div class="links">
              <span><a href="privacy-policy.pdf" target="_blank">Privacy Policy</a></span>
            </div>
        </div>
      </footer>
    </div>

</script>
