<script type="text/x-template" id="progressBarTemplate">
    <div class="progress-fluid-wrap-outer" v-if="progressBarActive">
        <div class="progress-fluid-wrap">
            <div class="progress-wrap">
                <div class="progress-bar" :style="{width: progressPercents + '%'}"></div>
                <p class="progress-percents">{[{ progressPercents }]}% Completed</p>
            </div>
        </div>
    </div>
</script>
