<script type="text/x-template" id="SorryTemplate">
    <div class="unsub-page">
      <div class="header">
        <div class="container">
          <img src="/assets/images/logo.png" alt="***" class="logo">
          <span class="slogan">

          </span>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <div class="card">
            <h3>So sorry!</h3>
            <p>Unfortunately you can't help us. But really thank you!</p>
            <p><span class="bold">Cheers:</span><br>
              *** <br>
              from the ***</p>
          </div>
        </div>
      </div>


      <footer>
        <div class="container">
          <img src="/assets/images/logo.png" alt="***">
            <p class="text-center">© 2021 ***.com</p>
            <div class="links">
              <span><a href="privacy-policy.pdf" target="_blank">Privacy Policy</a></span>
            </div>
        </div>
      </footer>
    </div>
</script>
