<script type="text/x-template" id="step-template">

	<div class="subpage">
		<div class="container" ref="header">
			<div class="header">
				<img src="assets/images/logo.png" alt="***" class="logo">
				<h2 class="text-center"></h2>
				<p class="sub"></p>
			</div>
		</div>

		<ProgressBar></ProgressBar>


		<div class="container">
			<h1>Quick Flyer Survey</h1>
			<p class="subtitle"><span class="bold">Hello Flyer!</span> Please complete our quick and easy survey about your flying habits.<p>
			<transition-group name="slide-fade" mode="out-in" tag="div">
				<div v-bind:id="question.type + 'Block'" v-if="question_index < lastDisplayedStep"
						 v-bind:key="question_index" v-for="(question, question_index) in questions">
					<form>
					<!-- radio button -->
					<div v-if="question.field == 'radio'" v-bind:class="question.type + ' card'" v-bind:ref="'card_' + question.type">

						<div class="cardHead">
							<h3 v-html="question.title"></h3>
						</div>

						<div class="cardBody">
							<label class="radioButton" v-for="(answer, index) in question.answers">
								<input type="radio" v-model="dataToSend[question.type]" v-bind:value="index" v-on:click="checkData(question, question_index)">
								<span class="radioLabel" v-html="answer"></span>
								<span class="checkmark"></span>
							</label>
						</div>

						<div class="cardFooter">

							<div class="controller">
								<div class="error" v-bind:ref="'ref_' + question_index" v-html="errors[question_index + 1]"></div>
								<div class="buttons">
									<button type="button" class="back" v-on:click="goBack(question_index)">&lt; Back</button>
									<button type="button" v-bind:class="{'btn-inactive': (!dataToSend[question.type] || dataToSend[question.type].length == 0)}" v-on:click="goNext(question_index)" v-if="question_index < (questions.length - 1)">Next</button>
									<button type="button" v-bind:class="{'btn-inactive': (!dataToSend[question.type] || dataToSend[question.type].length == 0)}" v-else v-on:click="getOffer()" tabindex="5">SEND &gt;</button>
								</div>
								<transition name="slide-fade" mode="out-in">
									<div class="loader-line" v-if="isLoading && (question_index + 1 == questions.length)">
										<img src="assets/images/loading2.gif" alt=""> Just a sec...
									</div>
								</transition>
							</div>

						</div>

					</div>
				</form>

				<form>

					<!-- checkbox -->
					<div v-if="question.field == 'checkbox'" v-bind:class="question.type + ' card'" v-bind:ref="'card_' + question.type">

						<div class="cardHead">
							<h3 v-html="question.title"></h3>
						</div>

						<div class="cardBody">
							<label class="checkbox" v-for="(answer, index) in question.answers">
								<input type="checkbox" v-model="dataToSend[question.type]" v-bind:value="index" v-on:change="removeErrors(question_index)">
								<span class="radioLabel" v-html="answer"></span>
								<span class="checkmark"></span>
							</label>
						</div>

						<div class="cardFooter">
							<div class="controller">
								<div class="error" v-bind:ref="'ref_' + question_index" v-html="errors[question_index + 1]"></div>

								<div class="buttons">
									<button type="button" class="back" v-on:click="goBack(question_index)">&lt; Back</button>
									<button type="button" v-bind:class="{'btn-inactive': (!dataToSend[question.type] || dataToSend[question.type].length == 0)}" v-on:click="goNext(question_index)" v-if="question_index < (questions.length - 1)">Next</button>
									<button type="button" v-bind:class="{'btn-inactive': (!dataToSend[question.type] || dataToSend[question.type].length == 0)}" v-else v-on:click="getOffer()" tabindex="5">SEND &gt;</button>
								</div>
								<transition name="slide-fade" mode="out-in">
									<div class="loader-line" v-if="isLoading && (question_index + 1 == questions.length)">
										<img src="assets/images/loading2.gif" alt="Loading..."> Just a sec...
									</div>
								</transition>
							</div>
						</div>

					</div>
					
					
					<div v-if="question.type === 'zip'" v-bind:class="question.type + ' card'" v-bind:ref="'card_' + question.type">
						<div class="contact-body input-holder">
							<div class="contact-row">
								<div class="cardHead">
									<h3 v-html="question.title"></h3>
								</div>

								<transition name="fader" mode="out-in">
								  <div class="location" v-if="location" v-html="location"></div>
								</transition>
									<div class="contact-col">
										<input name="zip"
											class="basic-input read-only"
											tabindex="1"
											v-bind:class="{'is-invalid': validationMsgs.zip}" v-mask="'###############'"
											v-model="dataToSend[question.type]" v-on:keyup="removeErrors(question_index); isZipChecked = false;"
											placeholder="Zip" @input.prevent="handleZip(false)" type="tel"
											ref="zip" id="zip" :readonly="isWaiting">
										<div class="loader" v-if="isWaiting"v-if="isWaiting">
											<img src="assets/images/spinner.gif" alt="" class="loaderImg">
										</div>
									</div>
							</div>
						</div>
						<div class="cardFooter">
						<div class="controller">
							<div class="error" v-bind:ref="'ref_' + question_index" v-html="errors[question_index + 1]"></div>

							<div class="buttons">
								<button type="button" class="back" v-on:click="goBack(question_index)">&lt; Back</button>
								<button type="button" v-bind:class="{'btn-inactive': (!dataToSend[question.type] || dataToSend[question.type].length == 0)}" v-on:click="goNext(question_index)" v-if="question_index < (questions.length - 1)">Next</button>
								<button type="button" v-bind:class="{'btn-inactive': (!dataToSend[question.type] || dataToSend[question.type].length == 0)}" v-else v-on:click="getOffer()" tabindex="5">SEND &gt;</button>
							</div>
							<transition name="slide-fade" mode="out-in">
								<div class="loader-line" v-if="isLoading && (question_index + 1 == questions.length)">
									<img src="assets/images/loading2.gif" alt="Loading..."> Just a sec...
								</div>
							</transition>
						</div>
					</div>
					
			</form>

				</div>
			</transition-group>
		</div>




		<footer>
			<div class="mainContainer">
				<div>
					<p class="text-center">&#169; ***.com</p>
					<p class="text-center footerLinks">
						<a href="privacy-policy.pdf">Privacy Policy</a>
					</p>
				</div>
			</div>
		</footer>
	</div>
</script>
