<script type="text/x-template" id="ThxTemplate">
    <div class="thx-page">
      <div class="header">
        <div class="container">
          <img src="assets/images/logo.png" alt="***" class="logo">
          <span class="slogan">
            <h2>We are ready!</h2>
          </span>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <div class="card">
            <h3>Thank you again!</h3>
            <p>You added your contact details and selected one of our gifts you have entered our prize draw and we will contact you should you be the winner.</p>
            <p>Have an awesome day and please follow us on <a href="***">Facebook</a>.</p>
            <p><span class="bold">Cheers:</span><br>
              *** <br>
              from the ***</p>
          </div>
        </div>
      </div>


      <footer>
        <div class="container">
          <img src="assets/images/logo.png" alt="***">
            <p class="text-center">© 2021 ***.com</p>
            <div class="links">
              <span><a href="privacy-policy.pdf" target="_blank">Privacy Policy</a></span>
            </div>
        </div>
      </footer>
    </div>
</script>
