<template>
	<div class="dashboard-page page-block col-10" v-if="is_visible">
		<div class="content">
			<nav class="navbar">
				<div class="container-fluid">
					<h1>{{ $t("Dashboard") }}</h1>					
				</div>
				
				<div class="intervals text-right">
					<span v-on:click="getDashData(1)">Ma</span>
					<span v-on:click="getDashData(7)">1 hét</span>
					<span v-on:click="getDashData(30)">1 hónap</span>
				</div>				
				
				<button type="button" class="navbar-toggle" v-on:click="SidebarToggle">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar bar1"></span>
				  <span class="icon-bar bar2"></span>
				  <span class="icon-bar bar3"></span>
				</button>
			</nav>
			
			<div class="col-12 row-cards">
				<div class="col-3">
					<div class="card dash-card dash-card-link" v-on:click="displayChart('customers')">
						<div class="col-4 dash-icon">
							<span class="ti-user"></span>
						</div>
						<div class="col-8 dash-data">
							<span>{{ $t("Partners") }}</span>
						</div>
						<div class="clear"></div>
						<span class="dash-num">{{partners_num}}</span>
						<hr>
					</div>
				</div>
				
				<div class="col-3">
					<div class="card dash-card dash-card-link" v-on:click="displayChart('orders')">
						<div class="col-4 dash-icon">
							<span class="ti-shopping-cart-full"></span>
						</div>
						<div class="col-8 dash-data">
							<span>{{ $t("Orders") }}</span>
						</div>
						<div class="clear"></div>
						<span class="dash-num">{{orders_num}}</span>
						<hr>						
					</div>
				</div>
				
				<div class="col-3">
					<div class="card dash-card dash-card-link" v-on:click="displayChart('products')">
						<div class="col-4 dash-icon">
							<span class="ti-package"></span>
						</div>
						<div class="col-8 dash-data">
							<span>{{ $t("Products") }}</span>
						</div>
						<div class="clear"></div>
						<span class="dash-num">{{products_num}}</span>
						<hr>						
					</div>
				</div>
				
				<div class="col-3">
					<div class="card dash-card dash-card-link" v-on:click="displayChart('incomes')">
						<div class="col-4 dash-icon">
							<span class="ti-wallet"></span>
						</div>
						<div class="col-8 dash-data">
							<span>{{ $t("Income in") }} /{{income_iso_code}}/</span>
						</div>
						<div class="clear"></div>
						<span class="dash-num">{{income}}</span>
						<hr>						
					</div>
				</div>
			</div>
			
			<div class="col-12">
				<div class="card card-chart card-chart-orders" v-if="chart.orders">
					<h3>{{ $t("Orders in the last time") }}</h3>
					<div class="chart">
						<div class="ct-chart" id="chart_orders" style="height: 500px;"></div>
					</div>
				</div>
				<div class="card card-chart card-chart-customers" v-if="chart.customers">
					<h3>{{ $t("Customers in the last time") }}</h3>
					<div class="chart">
						<div class="ct-chart" id="chart_customers" style="height: 500px;"></div>
					</div>
				</div>
				<div class="card card-chart card-chart-products" v-if="chart.products">
					<h3>{{ $t("Products in the last time") }}</h3>
					<div class="chart">
						<div class="ct-chart" id="chart_products" style="height: 500px;"></div>
					</div>
				</div>
				<div class="card card-chart card-chart-incomes" v-if="chart.incomes">
					<h3>{{ $t("Income in the last time") }}</h3>
					<div class="chart">
						<div class="ct-chart" id="chart_incomes" style="height: 500px;"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-12">
			<adminfooter></adminfooter>
		</div>
	</div>
</template>

<script>
//
module.exports = {
	name: "dashboard",
	introduction: "Admin page dashboard of Depoficer.",
	description: "Admin page dashboard where you can get some statictics about orders, product, etc.",
	token: ``,		
	
	components: {'adminfooter': AdminFooter},
	props: ["is_page_visible"],
	data: function () {
		return {
			// statistic box - number of products
			products_num: 0,
			// statistic box - number of partners
			partners_num: 0,
			// statistic box - number of orders
			orders_num: 0,
			// statistic box - number of income
			income: 0,
			// statistic box - number of income currency code
			income_iso_code: 'Ft',
			// is the page is visible for current user
			is_visible: false,
			// chart containers visibility
			chart: {
				orders: false,
				products: false,
				incomes: false,
				customers: false,
			},
			// chart container object
			chart_data: {},
		}
	},
	watch: {
		is_page_visible: function(val) {
			this.is_visible = val;
			if (val) {
				this.$parent.checkSidebar(); // it should place in every components mounted?
				this.getDashStat(14);
				this.loadChart(14);				
			}
		}
	},

	methods: {
		/**
		 * Redirect to the given link
		 * @arg string link url to go
		 */
		goPage: function(link) {
			router.push(link);
		},
		/**
		 * Open or close the sidebar if neccessary - mainly use it on mobile
		 */
		SidebarToggle: function() {
			this.$parent.sidebar_display = !this.$parent.sidebar_display;
		},
		/**
		 * Get the dash basic statictics box data
		 */
		getDashStat: function(days) {
			console.log("days: " + days);
			// assemble the query
			var params = new URLSearchParams();
			params.append("days", days);
			
			axios.post(base_url + "get_dash_stat.php", params, {
				responseType: "json",				
			}).then((function (response) {
				this.products_num = this.formatNumber(response.data.stats.products_num);
				this.partners_num = this.formatNumber(response.data.stats.partners_num);
				this.orders_num = this.formatNumber(response.data.stats.orders_num);
				this.income = this.formatNumber(response.data.stats.total_price);
				this.income_iso_code = response.data.stats.iso_code;
				this.package_data_loader = false;
			}).bind(this)); 
		},
		/**
		 *
		 */
		getDashData: function(days) {
			this.getDashStat(days);
			this.loadChart(days);
		},
		
		/**
		 * Change number format
		 * @arg int value the value we want to change
		 */
		formatNumber(value) {
			let val = value;
			return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
		},
		/**
		 * Display the chart we would like to
		 * @arg string block_id name of the block we want to see
		 */
		displayChart: function(block_id) {
			var ch_data, chart_id, xAxis, yAxis;
			this.chart = {
				orders: false,
				products: false,
				incomes: false,
				customers: false,
			};
			if (block_id == 'orders') {
				this.chart.orders = true;
				chart_id = '#chart_orders';
				ch_data = this.chart_data.chart_order;
				xAxis = this.$t("chart_order_xAxis");
				yAxis = this.$t("chart_order_yAxis");
			}
			if (block_id == 'customers') {
				this.chart.customers = true;
				chart_id = '#chart_customers';
				ch_data = this.chart_data.chart_customer;
				xAxis = this.$t("chart_customer_xAxis");
				yAxis = this.$t("chart_customer_yAxis");
			}
			if (block_id == 'products') {
				this.chart.products = true;
				chart_id = '#chart_products';
				ch_data = this.chart_data.chart_product;
				xAxis = this.$t("chart_product_xAxis");
				yAxis = this.$t("chart_product_yAxis");
			}
			if (block_id == 'incomes') {
				this.chart.incomes = true;
				chart_id = '#chart_incomes';
				ch_data = this.chart_data.chart_income;
				xAxis = this.$t("chart_income_xAxis");
				yAxis = this.$t("chart_income_yAxis");
			}
			
			setTimeout(function() {
				// create chart with options
				var chart = new Chartist.Line(chart_id, {
				  labels: ch_data.dates,
				  series: [
					ch_data.data
				  ]
				}, {
				  chartPadding: {
					top: 20,
					right: 0,
					bottom: 50,
					left: 30
				  },
				  showArea: true,
				  axisY: {
					onlyInteger: true
				  },
				  plugins: [
					Chartist.plugins.ctAxisTitle({
					  axisX: {
						axisTitle: xAxis,
						axisClass: 'ct-axis-title',
						offset: {
						  x: 0,
						  y: 70
						},
						textAnchor: 'middle'
					  },
					  axisY: {
						axisTitle: yAxis,
						axisClass: 'ct-axis-title',
						offset: {
						  x: 0,
						  y: 0
						},
						textAnchor: 'middle',
						flipTitle: false
					  }
					})
				  ]
				});
			}, 200);
		},
		/**
		 * Load the chart
		 */
		loadChart: function(days) {
			console.log("days: " + days);			
			var params = new URLSearchParams();
			params.append("days", days);
			
			axios.post(base_url + "get_dash_chart.php", params, {
				responseType: "json",
			}).then((function (response) {	
				this.chart_data = response.data.charts;
				this.displayChart('orders');
			}).bind(this)); 
		},
	},
	mounted: function() {
		this.is_visible = this.is_page_visible;
		this.$parent.checkUserLoggedIn();
		
		// set the url part to use it template
		this.pre_url_part = pre_url_part;
		this.base_url = base_url;
				
		// if current user logged in load the page parts
		if (this.is_visible) {
			this.$parent.checkSidebar(); // it should place in every components mounted?
			this.getDashStat(14);
			this.loadChart(14);
		}
	}	
}
</script>
