<template>
	<div class="sites-page page-block col col-10" id="edit-landing" v-if="is_visible">
		<div class="content">
			<nav class="navbar">
				<div class="container-fluid">
					<h1>{{ $t("LandingNation") }}</h1>
				</div>
				
				<button type="button" class="navbar-toggle" v-on:click="SidebarToggle">
				  <span class="sr-only">{{ $t("Navigation") }}</span>
				  <span class="icon-bar bar1"></span>
				  <span class="icon-bar bar2"></span>
				  <span class="icon-bar bar3"></span>
				</button>				
			</nav>
			
			<div class="description">
				<p>
					{{ $t("Edit landing information here.") }}</b>
				</p>
			</div>
			
			
			<div class="card">
				<div v-bind:class="'alert ' + alert_class" v-if="note">
					{{note}}
					<span class="note-close" v-on:click="closeAlert()">x</span>
				</div>
				
				<div class="" v-if="!landing.name">
					<p>{{ $t("This landing page does not exist.") }}</p>
				</div>
				<div class="" v-else>
					<form action="" method="post">
						<div class="row-item">
							<label>{{ $t("Name") }}:</label>
							<input type="text" v-model="landing.name" class="landing-name long-input">
						</div>
						
						<!-- Landing page properties table -->
						<table class="">
							<thead>
								<tr>
									<th>{{ $t("Name") }}</th>
									<th>{{ $t("Unit") }}</th>
									<th>{{ $t("Options") }}</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(type, index) in property_types">
									<td>
										<input type="text" v-model="property_types[index].name">
									</td>
									<td>
										<input type="text" v-model="property_types[index].unit">
									</td>
									<td>
										<div v-if="property_types[index].is_deletable == 1">
											<button type="button" class="btn" v-on:click="deleteProperty(index)">{{ $t("Delete") }}</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						
						<div class="row-item">
							<button type="button" class="btn" v-on:click="addProperty()">{{ $t("+1 row") }}</button>
							<button type="button" class="btn" v-on:click="saveLanding()">{{ $t("Save landing page data") }}</button>
						</div>
						<hr>
						
						<!-- Search block -->
						<div class="search-box">
							<h3>{{ $t("Product search") }}</h3>
							<p class="intro">
								{{ $t("Product search introduction") }}
							</p>
							<input type="text" v-model="search" v-on:keyup="findProductsTimer()" placeholder="Cikkszám vagy terméknév" class="long-input">
						</div>
						
						<div class="">
							{{ landing_products.length }} {{ $t("products joined to the landing page") }}
						</div>
						
						
						<!-- Payment settings -->
						<div class="" v-if="payment_types.length">
							<hr>
							<h3 class="clickable-title" v-on:click="displayPaymentBlock = !displayPaymentBlock">{{ $t("Payment settings") }}</h3>
							<div v-if="displayPaymentBlock">
								<p class="intro">
									{{ $t("Payment part introduction") }}
								</p>
								<table class="product-payment-list">
									<thead>
										<tr>
											<th></th>
											<th v-for="payment_type in payment_types" v-html="payment_type.title"></th>
										</tr>
									</thead>
									<tr v-for="item in found_products" v-bind:class="productClass[item.id]">
										<td>
											<span v-html="item.name"></span>
										</td>
										<td v-for="payment_type in payment_types">
											<input type="checkbox" v-bind:value="1" true-value="1" false-value="0" v-model="product_payment_types[item.id][payment_type.id]" v-if="product_payment_types[item.id]">
										</td>
									</tr>
								</table>
								<button type="button" class="btn" v-on:click="saveProductPaymentTypes()">{{ $t("Save product payment types") }}</button>
							</div>
						</div>
						<hr>

						<!-- Delivery and warehouse settings block -->
						<div>
							<h3 class="clickable-title" v-on:click="displayDeliveryPriceBlock = !displayDeliveryPriceBlock">{{ $t("Delivery settings and warehouses") }}</h3>
							
							<!-- Delivery settings -->
							<div style="background: #EEE; margin: 15px 0;padding: 10px;">
								<div v-if="displayDeliveryPriceBlock">
									<h4>{{ $t("Delivery settings") }}</h4>
									<br>
									<br>
									<div v-for="found_product in found_products">
										<h4 v-html="found_product.name"></h4>
										<input type="text" v-model="product_delivery_price[found_product.id]"> Ft
										{{ $t("Type:") }}
										<input type="radio" value="once" v-model="product_delivery_type[found_product.id]" id="dt_1">
										<label for="dt_1">{{ $t("Once") }}</label>
										<input type="radio" value="qty" v-model="product_delivery_type[found_product.id]" id="dt_2">
										<label for="dt_2">{{ $t("For qty") }}</label>
										<hr>
									</div>
									<button type="button" v-on:click="saveLandingnationDelivery()">{{ $t("Save settings") }}</button>
								</div>
							</div>
							
							<!-- General settings -->
							<div>
								<h3 v-on:click="display_delivery_block = !display_delivery_block">{{ $t("General settings") }}</h3>
							
								<div v-if="display_delivery_block">
									<div>
										<h4>{{ $t("General settings") }}</h4>
										
										<div>
											<p>{{ $t("Free delivery options") }}</p>
											<textarea v-model="free_pickup" style="width: 500px; height: 250px;"></textarea>
										</div>
									</div>
									<div style="margin: 10px 0 25px;">
										<input type="checkbox" v-model="out_of_stock" value="1" id="oos"> 
										<label for="oos">{{ $t("Out of Stock") }}</label>
									</div>
									<div style="display: none;">
										<h4>{{ $t("General settings") }}</h4>
										<input type="text" v-model="delivery_price"> Ft
										{{ $t("Type:") }}
										<input type="radio" value="once" v-model="delivery_type" id="dt_1">
										<label for="dt_1">{{ $t("Once") }}</label>
										<input type="radio" value="qty" v-model="delivery_type" id="dt_2">
										<label for="dt_2">{{ $t("For qty") }}</label>
										<hr>
									</div>
									<button type="button" v-on:click="saveLandingnationDelivery()">{{ $t("Save settings") }}</button>
								</div>
							</div>
						</div>
						<hr>
						
						<!-- Discount block -->
						<div>
							<h3 class="clickable-title" v-on:click="displayDiscountBlock = !displayDiscountBlock">{{ $t("Discounts") }}</h3>
							
							<div v-if="displayDiscountBlock">
								<table>
									<tr v-for="discount in discounts">
										<td>
											<input type="checkbox" v-model="landingnation_discount" v-bind:value="discount.id">
										</td>
										<td v-html="discount.name"></td>
										<td v-html="discount.price + 'Ft'"></td>
										<td v-html="'(' + discount.type + ')'"></td>
									</tr>
								</table>
								<button type="button" v-on:click="saveLandingnationDiscounts()">{{ $t("Save settings") }}</button>
							</div>
						</div>
						<hr>
						
						
						<div class="">
							<p class="intro">
								{{ $t("Product upload introduction") }}
							</p>
							<button type="button" v-on:click="exportProducts()">{{ $t("Export landing products") }}</button>
							<button type="button" v-on:click="importProducts()">{{ $t("Import landing products") }}</button>
							<div class="clear"></div>
							<div v-if="importingProducts">{{ $t("A moment please...") }}</div>
							<div v-bind:class="'alert ' + alert_class" v-if="note">
								{{note}}
								<span class="note-close" v-on:click="closeAlert()">x</span>
							</div>
							
							<label style="display: none;">File
								<input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
							</label>
							
							<div class="export-line" v-if="export_file">
								<p class="intro">
									<a v-bind:href="'/admin/landing_products/' + export_file" ref="exportedFile" target="_blank">{{ $t("Download landing products") }}</a>
								</p>
							</div>
						</div>
						
						<div id="landing-items" class="" v-if="found_products.length > 0">
							<h3>{{ $t("Found products") }}</h3>
							<p class="intro">
								{{ $t("Product search introduction") }}
							</p>							
							
							<!-- list of assigned landing page's products -->
							<table class="st-table found-table product-edit landing-products">
								<thead>
									<tr>
										<th v-on:click="SortListBy('number')">
											{{ $t("Product number") }}
											<span class="sort-asc ti-angle-up" v-if="store_order == 'number_asc'"></span>
											<span class="sort-desc ti-angle-down" v-if="store_order == 'number_desc'"></span>
										</th>
										<th v-on:click="SortListBy('is_active')">
											{{ $t("Active?") }}
											<span class="sort-asc ti-angle-up" v-if="store_order == 'is_active_asc'"></span>
											<span class="sort-desc ti-angle-down" v-if="store_order == 'is_active_desc'"></span>
										</th>
										<th v-on:click="SortListBy('name')">
											{{ $t("Name") }}
											<span class="sort-asc ti-angle-up" v-if="store_order == 'name_asc'"></span>
											<span class="sort-desc ti-angle-down" v-if="store_order == 'name_desc'"></span>
										</th>
										<th v-on:click="SortListBy('net_price')">
											{{ $t("Net price") }}
											<span class="sort-asc ti-angle-up" v-if="store_order == 'net_price_asc'"></span>
											<span class="sort-desc ti-angle-down" v-if="store_order == 'net_price_desc'"></span>
										</th>
										<th v-on:click="SortListBy('gross_price')">
											{{ $t("Gross price") }}
											<span class="sort-asc ti-angle-up" v-if="store_order == 'gross_price_asc'"></span>
											<span class="sort-desc ti-angle-down" v-if="store_order == 'gross_price_desc'"></span>
										</th>
										<th v-for="property in properties">
											{{ property.name }}
										</th>
										<th>
											{{ $t("Options") }}
										</th>
									</tr>
								</thead>
								<tbody id="items">
									<tr v-for="item in found_products" v-bind:id="'product_' + item.id" v-bind:class="productClass[item.id]">
										<td>
											<input type="checkbox" v-on:click="handleProduct(item.id, $event)" v-model="productJoined[item.id]" style="float: right;">
											<div class="handle ti-view-list" style="width: 20px; height: 20px; cursor: pointer;"></div>
											<label class="mobile-label">{{ $t("Product number") }}:</label>
											<span v-html="item.product_number"></span>
										</td>
										<td>
											<span v-if="item.is_active == 1" style="color: green;">{{ $t("Yes") }}</span>
											<span v-else style="color: red;">{{ $t("No") }}</span>
										</td>
										<td>
											<label class="mobile-label">{{ $t("Name") }}:</label>
											<span v-html="item.name"></span>
										</td>
										<td>
											<label class="mobile-label">{{ $t("Net price") }}:</label>
											<span v-html="item.net_price"></span>
										</td>
										<td>
											<label class="mobile-label">{{ $t("Gross price") }}:</label>
											<span v-html="item.gross_price"></span>
										</td>
										<td v-for="property in properties">
											<span v-if="item.properties">
												<span v-if="property.id == 27">
													<img v-bind:src="base_url + '../' + item.properties[property.id] + '?r=' + getRandomNum" alt="" v-if="item.properties[property.id]" style="width: 100px;">
												</span>
												<span v-if="property.id == 28">
													<span v-if="item.properties[property.id]" class="ti-face-smile"></span>
													<span v-else class="ti-face-sad" style="color: red;"></span>
												</span>
												<span v-if="property.id != 27 && property.id != 28">
												{{ item.properties[property.id] }}
												</span>
											</span>
										</td>									
										<td>
											<label class="mobile-label">{{ $t("Options") }}:</label>
											<form action="">
												<button type="button" class="btn" v-on:click="editProduct(item.id, $event)">
													<span class="ti-pencil"></span>
												</button>
											</form>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
									
					</form>
				</div>
			</div>
		</div>
		
		<!-- Landing product editor popup -->
		<div class="modal-shadow" v-if="is_product_edit"></div>
		<div id="card-read" class="card card-read card-modal product-editor" v-if="is_product_edit" v-bind:style="productView">
			<span class="close-box" v-on:click="closeEditBox()">X</span>
			<h3>{{ $t("Product edit") }}</h3>
			<form action="">
				<div class="form-row">
					<label>{{ $t("Product name") }}:</label>
					<input type="text" v-model="editor.name" class="long-input">
				</div>
				<div class="form-row">
					<label>{{ $t("Product number") }}:</label>
					<input type="text" v-model="editor.product_number">
				</div>
				<div class="form-row">
					<label>{{ $t("Barcode") }}:</label>
					<input type="text" v-model="editor.bar_code">
				</div>
				<div class="form-row">
					<label>{{ $t("Unit") }}:</label>
					<input type="text" v-model="editor.unit" placeholder="unit" class="short-input">
				</div>
				<div class="form-row">
					<label>{{ $t("Pack") }}:</label>
					<input type="text" v-model="editor.pack">
				</div>							
				<div class="form-row">
					<label>{{ $t("In stock") }}:</label>
					<input type="text" v-model="editor.instock">
				</div>							
				<div class="form-row">
					<label>{{ $t("Factor") }}:</label>
					<input type="text" v-model="editor.factor">
				</div>							
				<div class="form-row">
					<label>{{ $t("Is active?") }}</label>
					<input type="checkbox" v-model="editor.is_active" value="1">
				</div>							
				<div class="form-row" v-for="data in product_property_data">
					<label v-html="data.name + ':'"></label>
					<div class="property-field" v-if="data.id == 27">
						<input type="hidden" v-model="data.data">
						<div style="display: none;">
							<input type="file" ref="productfile" id="productfile">
						</div>
						<button type="button" class="btn" v-on:click="uploadProductImage()">
							<span class="ti-upload"></span>
							{{ $t("Upload image") }}
						</button>
					</div>
					<div class="property-field" v-if="data.id == 28">
						<tinymce-editor v-model="data.data" api-key="****************************" :init="{
											height: 500,
											menubar: false,
											plugins: [
												'advlist autolink lists link image charmap print preview anchor',
												'searchreplace visualblocks code fullscreen',
												'insertdatetime media table paste code help wordcount'
											],
											toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
											content_css: [
												'//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
												'//www.depoficer.com/assets/css/tinymce.css',												
											]
										}"></tinymce-editor>
					</div>
					<div class="property-field" v-if="data.id != 27 && data.id != 28">
						<input type="text" v-model="data.data"> <span v-html="data.unit"></span>
					</div>
				</div>
				<hr>
				
				<!-- General price editor -->
				<h3>{{ $t("Default price") }}</h3>
				<p class="intro">{{ $t("default_price_intro") }}</p>
				<div class="form-row">
					<label>{{ $t("Net price") }}:</label>
					<input type="text" v-model="editor.net_price">
				</div>							
				<div class="form-row">
					<label>{{ $t("Vat") }}:</label>
					<input type="text" v-model="editor.vat">%
				</div>													
				<div class="form-row">
					<label>{{ $t("Gross price") }}:</label>
					<input type="text" v-model="editor.gross_price">
				</div>							
				<div class="form-row">
					<label>{{ $t("Currency") }}:</label>
					<select v-model="editor.currency_id">
						<option v-for="currency in currencies" v-bind:value="currency.id" v-html="currency.iso_code"></option>
					</select>
				</div>
				<hr>
				
				<!-- Customer's price editor -->
				<p class="intro">
					{{ $t("price_intro") }}
				</p>
				<table class="sr-table st-table product-price-edit">
					<thead>
						<tr>
							<th>{{ $t("Customer") }}</th>
							<th>{{ $t("Net price") }}</th>
							<th>{{ $t("Gross price") }}</th>
							<th>{{ $t("Vat") }}</th>
							<th>{{ $t("Currency") }}</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(price, index) in editor_prices">
							<td>
								<label class="mobile-label">{{ $t("Customer") }}:</label>
								<select v-model="price.customer_id">
									<option v-for="customer in customers" v-bind:value="customer.id" v-html="customer.username + ' (' + customer.customer_code + ')'"></option>
								</select>
							</td>
							<td>
								<label class="mobile-label">{{ $t("Net price") }}:</label>
								<input type="text" v-model="price.net_price">
							</td>
							<td>
								<label class="mobile-label">{{ $t("Gross price") }}:</label>
								<input type="text" v-model="price.gross_price">
							</td>
							<td>
								<label class="mobile-label">{{ $t("Vat") }}:</label>
								<input type="text" v-model="price.vat">%
							</td>
							<td>
								<label class="mobile-label">{{ $t("Currency") }}:</label>
								<select v-model="price.currency_id">
									<option v-for="currency in currencies" v-bind:value="currency.id" v-html="currency.iso_code"></option>
								</select>
							</td>
							<td>
								<button type="button" v-on:click="deletePriceRow(index)">
									<span class="ti-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" v-on:click="addPriceRow()" class="add-price-row">
					{{ $t("Add new customer price") }}
				</button>
				<hr>
							
				<div class="form-row">
					<button type="button" v-on:click="saveProduct()">
						<span>{{ $t("Update product") }}</span>
					</button>
				</div>							
			</form>
		</div>
		
	</div>
</template>

<script>
module.exports = {
	template: "#landingpages-template",
	name: "",
	introduction: "Admin landing pages.",
	description: "In this page admin can create landing pages.",
	token: ``,	
	
	components: {
		AdminFooter,
		'tinymce-editor': Editor,
	},
	props: ["is_page_visible"],
	data: function () {
		return {
			//
			el: '#landing-items',
			
			// system note
			note: '',
			// system note css class
			alert_class: '',
			// current user can see this page?
			is_visible: false,
			// landing page data
			landing: {
				id: this.$route.params.id,
				name: "",
				service_id: 0,
			},
			// list of services
			services: [],
			// list of property types
			property_types: [],
			// search field text
			search: '',
			// found products store in this array
			found_products: [],
			// setTimeout delay before search
			finder_timer: 0,
			// help to sorting, store the actual sort data
			store_order: "",
			// default sort direction list
			store_sort: {
				number: "asc",
				name: "asc",
				pack: "asc",
				stock: "asc",
				net_price: "asc",
				gross_price: "asc",
				warehouse: "asc",
			},
			// product css class data
			productClass: [],
			// store which products joined to the landing page at current page view
			productJoined: [],
			// landing page and products connection
			landing_products: [],
			// properties of the landing page
			properties: [],			
			// Edited product data load to this
			editor: {},
			// Store landing page product prices
			editor_prices: [],
			// currencies list stored in this aray
			currencies: [],
			// warehouse list stored in this array
			warehouses: [],
			// customers list
			customers: [],
			// product's properties data list when open a product to edit
			product_property_data: [],
			// product editor popup handler
			is_product_edit: false,
			// help to the product editor modal position
			productView: {
				top: 0,
			},
			// payment types
			payment_types: {},
			// payment types which belongs to the product
			product_payment_types: {},
			// every available discounts belongs to this account
			discounts: {},
			// landing page available discounts
			landingnation_discount: [],
			// name of the exported file
			export_file: '',
			// is currently uploading a file
			is_uploading: false,
			// handle the filename of the uploaded item
			file: '',
			// base url of the admin page
			base_url: '',
			// general setting - delivery price type, once or per qty
			delivery_type: '',
			// general setting - delivery price data
			delivery_price: 0,
			// store which product has which delivery types
			product_delivery_type: {},
			// store which product has which delivery prices
			product_delivery_price: {},
			// display or close the delivery price block
			displayDeliveryPriceBlock: false,
			// display or close the discount block
			displayDiscountBlock: false,
			// display or close the payment block
			displayPaymentBlock: false,
			// is currently importing products to the depoficer
			importingProducts: false,
			// textbox data for free pickup locations
			free_pickup: '',
			// display or close the delivery block
			display_delivery_block: false,
			// Landing page is out of stock of the joined products
			out_of_stock: 0,
		}
	},
	watch: {
		// if admin can see this page get the warehouses
		is_page_visible: function(val) {
			this.is_visible = val;
			if (this.is_visible) {
				this.getServiceList();
				this.getLanding();
				this.getProductProperties();
				this.getLandingProducts();
				this.getDiscounts();
				this.getLandingDiscounts();
				this.getProductPaymentTypes();
			}			
		},
		'$route' (to, from) {
			this.landing.id = this.$route.params.id;
			this.onCreated();
		}
	},
	computed: {
		storeLink: function() {
			return pre_url_part + account_slug + "/admin/store";
		},
		getRandomNum: function() {
			return Math.random();
		},
	},
	methods: {
		
		/**
		 * Delete a price row from product editor
		 * @arg int index of the array
		 */
		deletePriceRow: function(index) {
			this.editor_prices.splice(index, 1);
		},
		/**
		 * Add a new price row to product editor
		 */
		addPriceRow: function() {
			this.editor_prices.push({currency_id: 1});
		},
		
		/**
		 * Save landing page delivery information
		 */
		saveLandingnationDelivery: function() {
			var params = new URLSearchParams();
			params.append("price", this.delivery_price);
			params.append("type", this.delivery_type);
			params.append("product_price", JSON.stringify(this.product_delivery_price));
			params.append("product_price_type", JSON.stringify(this.product_delivery_type));
			params.append("free_pickup", this.free_pickup);
			params.append("out_of_stock", this.out_of_stock);
			params.append("landingnation_id", this.landing.id);
					
			axios.post(base_url + "landingnation-delivery-save.php", params, {
				responseType: "json",				
			}).then((function (response) {
				if (response.data.status) {
					this.note = "Szállítási adatok elmentve.";
					this.alert_class = "alert-note";
				} else {
					if (response.data.errors) {
						this.note = response.data.errors.join("<br>");
					} else {
						this.note = "Hiba a mentés során.";
					}
					this.alert_class = "alert-danger";
				}
			}).bind(this));
			
		},
		
		/**
		 * when user click the uploader button click the file input
		 */
		uploadProductImage: function() {
			document.getElementById("productfile").click();
		},
		
		/**
		 * Get every landing products and export them into an excel
		 */
		exportProducts: function() {
			var params = new URLSearchParams();
			params.append("landingnation_id", this.landing.id);
					
			axios.post(base_url + "landingnation-export-products.php", params, {
				responseType: "json",				
			}).then((function (response) {
				this.export_file = response.data.file;
				
				var that = this;
				setTimeout(function() {
					that.$refs.exportedFile.click();
				}, 400);
			}).bind(this));
		},
		
		/**
		 * When user click the upload button click the upload file field
		 */
		importProducts: function() {
			document.getElementById("file").click();
		},
		
		/**
		 * When click the upload button, get the file and start the uploading
		 */
		handleFileUpload: function() {
			this.is_uploading = true;
			this.file = this.$refs.file.files[0];
			this.submitFile();
			this.importingProducts = true;
		},
		/**
		 * Upload the file content to the database
		 */
		submitFile: function() {
			// assemble query
			let formData = new FormData();
			formData.append('landingnation_id', this.landing.id);
			formData.append('file', this.file);
			
			axios.post(base_url + "reupload_landing_products.php", formData, {
				headers: {
					"Content-Type": 'multipart/form-data;charset=UTF-8',			
				},
				responseType: "json",
			}).then((function (response) {
				this.importingProducts = false;				
				if (response.data.status) {
					this.note = "Termékadatok frissítve!";
					this.alert_class = "alert-note";
				} else {
					this.note = "A termékadatok frissítésekor hiba történt!";
					this.alert_class = "alert-danger";
				}
				var that = this;
				setTimeout(function() {
					that.getLandingProducts();
					that.findProducts();
				}, 2500);
				this.$refs.file.value = "";
				this.file = null;
			}).bind(this)); 
		},
		
		/**
		 * When admin click the button, that is not a file upload button, 
		 * just a single button so the js do the rest and click the real upload button
		 */
		uploadFileEvent: function() {
			document.getElementById("file").click();
			this.closeAlertLine();
		},

		/**
		 * Save the landing page's selected discounts
		 */
		saveLandingnationDiscounts: function() {
			var params = new URLSearchParams();
			params.append("landingnation_id", this.landing.id);
			params.append("discounts", JSON.stringify(this.landingnation_discount));
			
			axios.post(base_url + "landingnation-discount-save.php", params, {
				responseType: "json",				
			}).then((function (response) {
				if (response.data.status) {
					this.note = "Kedvezmények elmentve.";
					this.alert_class = "alert-note";
				} else {
					if (response.data.errors) {
						this.note = response.data.errors.join("<br>");
					} else {
						this.note = "Hiba a mentés során.";
					}
					this.alert_class = "alert-danger";
				}
			}).bind(this));
		},
		
		/**
		 * Handle the products' payment types list
		 */
		saveProductPaymentTypes: function() {
			var params = new URLSearchParams();
			params.append("product_types", JSON.stringify(this.product_payment_types));
			
			axios.post(base_url + "payment-type-product-save.php", params, {
				responseType: "json",				
			}).then((function (response) {
				if (response.data.status) {
					this.note = "Fizetési módok elmentve.";
					this.alert_class = "alert-note";
					this.getPaymentsList();
				} else {
					if (response.data.errors) {
						this.note = response.data.errors.join("<br>");
					} else {
						this.note = "Hiba a mentés során.";
					}
					this.alert_class = "alert-danger";
				}
			}).bind(this));
		},
		
		/**
		 * Get the payment types list
		 */
		getPaymentsList: function() {
			axios.post(base_url + "payment-type-list.php", {
				responseType: "json",				
			}).then((function (response) {
				if (response.data.status) {
					var payment_types = response.data.list;
					// new one
					for(product_id in this.product_payment_types) {
						for (payment_type in payment_types) {
							if (!this.product_payment_types[product_id][payment_types[payment_type].id]) {
								this.$set(this.product_payment_types[product_id], payment_types[payment_type].id, "0");
							}
						}
					}

					this.payment_types = payment_types;
					
				}
			}).bind(this)); 
		},
		
		/**
		 * get the current landing page products' payment types list
		 */
		getProductPaymentTypes: function() {
			var params = new URLSearchParams();
			params.append("landingnation_id", this.landing.id);
			
			axios.post(base_url + "product-payment-type-list.php", params, {
				responseType: "json",				
			}).then((function (response) {
				if (response.data.status) {
					
					for (product_id in response.data.product_payment_types) {
						for (type_id in response.data.product_payment_types[product_id]) {
							if (!this.product_payment_types[product_id]) {
								this.product_payment_types[product_id] = {};
							}
							this.$set(this.product_payment_types[product_id], type_id, 1);
						}
					}
				}
			}).bind(this)); 
		},
		
		/**
		 * Close the editor box
		 */
		closeEditBox: function() {
			this.is_product_edit = false;
		},
		
		/**
		 * Edit a single product, get product data and open the popup
		 * @arg int product_id ID of the product
		 * @arg object event
		 */
		editProduct: function(product_id, event) {
			
			// assemble query
			var params = new URLSearchParams();
			params.append("product_id", product_id);
			params.append("landingnation_id", this.landing.id);
			
			// send request
			axios.post(base_url + "product_edit.php", params, {
				responseType: "json",
			}).then((function (response) {
				if (response.data.status) {
					this.editor = response.data.product;
					this.editor_prices = response.data.prices;
					this.currencies = response.data.currencies;
					this.warehouses = response.data.warehouses;
					this.customers = response.data.customers;
					this.product_property_data = response.data.properties;

					this.is_product_edit = true;
					// set position product editor modal
					var cLineHeight = document.getElementById("product_" + product_id).clientHeight;
					this.productView.top = (event.pageY - cLineHeight) + "px";
					// scroll to the modal
					EPPZScrollTo.scrollVerticalToElementById("product_" + product_id, 20);
				}
			}).bind(this)); 
		},
		
		/**
		 * Save or update the product
		 */
		saveProduct: function() {
			// assemble the query
			var params = new FormData();
			var upload_product_image;
			if (this.$refs.productfile) {
				upload_product_image = this.$refs.productfile[0].files[0];
			}
			
			params.append("product_image", upload_product_image);
			params.append("product", JSON.stringify(this.editor));
			params.append("prices", JSON.stringify(this.editor_prices));
			params.append("properties", JSON.stringify(this.product_property_data));
			params.append("landingnation_id", this.landing.id);
			// send request
			axios.post(base_url + "product_save.php", params, {
				headers: {
					"Content-Type": "multipart/form-data",
				},
				responseType: "json",
			}).then((function (response) {
				if (response.data.status) {
					// set the note content
					if (this.is_new_product) {
						this.product_note = this.$t("product_created");
					} else {
						this.product_note = this.$t("product_updated");
					}
					this.product_alert_class = "alert-note";
					this.is_product_edit = false;
					this.is_new_product = false;
					// get the default list
					this.findProducts();
				} else {
					this.product_note = response.data.join("\n");
					this.product_alert_class = "alert-danger";
				}
				tinymce.execCommand('mceRemoveControl', true, 'productContentEditor');
				tinymce.remove("productContentEditor");
			}).bind(this)); 
		},
		
		/**
		 * Check is the product checkbox exist - use when admin click in a product row
		 * see more in handleProduct()
		 */
		isProductCheckboxExist: function(product_id) {
			return Object.keys(this.product_payment_types).includes(product_id);
		},
		
		/**
		 * Handle which product belongs to the current landing page. User click a product row
		 * and system automatically save it to the landing page
		 */
		handleProduct: function(product_id, event) {
			// do not update when click edit product button
			if (event.target.className == "btn" || event.target.className == "ti-pencil") {
				return;
			}
			
			var params = new URLSearchParams();
			params.append("product_id", product_id);
			params.append("landing_id", this.landing.id);
			
			axios.post(base_url + "landing_product_save.php", params, {
				responseType: "json",
			}).then((function (response) {
				Vue.set(this.productClass, product_id, {"item": true, "active": response.data.is_insert});
				Vue.set(this.productJoined, product_id, response.data.is_insert);
				if (response.data.is_insert) {
					Vue.set(this.landing_products, this.landing_products.length, product_id);
					
					if (!this.isProductCheckboxExist(product_id)) {
						this.$set(this.product_payment_types, product_id, {});
						for (payment_type in this.payment_types) {
							this.$set(this.product_payment_types[product_id], this.payment_types[payment_type].id, "0");
						}
					}
				} else {
					for(index in this.landing_products) {
						if (this.landing_products[index] == product_id) {
							Vue.delete(this.landing_products, index);
						}
					}
				}
			}).bind(this)); 
		},
		
		/**
		 * Sort the product list to click header title
		 */
		SortListBy: function(column) {
			// every condition handle a column sorting
			if (column == "number") {
				if (this.store_sort.number == "desc") {
					this.store_sort.number = "asc";
				} else {
					this.store_sort.number = "desc";
				}
				this.found_products = this.found_products.sort(compareStoreNumber);
				Vue.set(this.found_products, 0, this.found_products[0]);
				if (this.store_sort.number == "desc") {
					this.found_products.reverse();
				}
				this.store_order = "number_" + this.store_sort.number;
			}
			if (column == "name") {
				if (this.store_sort.name == "desc") {
					this.store_sort.name = "asc";
				} else {
					this.store_sort.name = "desc";
				}
				this.found_products = this.found_products.sort(compareStoreName);
				Vue.set(this.found_products, 0, this.found_products[0]);
				if (this.store_sort.name == "desc") {
					this.found_products.reverse();
				}
				this.store_order = "name_" + this.store_sort.name;
			}
			if (column == "pack") {
				if (this.store_sort.pack == "desc") {
					this.store_sort.pack = "asc";
				} else {
					this.store_sort.pack = "desc";
				}
				this.found_products = this.found_products.sort(compareStorePack);
				Vue.set(this.found_products, 0, this.found_products[0]);
				if (this.store_sort.pack == "desc") {
					this.found_products.reverse();
				}
				this.store_order = "pack_" + this.store_sort.pack;
			}
			if (column == "stock") {
				if (this.store_sort.stock == "desc") {
					this.store_sort.stock = "asc";
				} else {
					this.store_sort.stock = "desc";
				}
				this.found_products = this.found_products.sort(compareStoreStock);
				Vue.set(this.found_products, 0, this.found_products[0]);
				if (this.store_sort.stock == "desc") {
					this.found_products.reverse();
				}
				this.store_order = "stock_" + this.store_sort.stock;
			}
			if (column == "warehouse") {
				if (this.store_sort.warehouse == "desc") {
					this.store_sort.warehouse = "asc";
				} else {
					this.store_sort.warehouse = "desc";
				}
				this.found_products = this.found_products.sort(compareStoreWarehouse);
				Vue.set(this.found_products, 0, this.found_products[0]);
				if (this.store_sort.warehouse == "desc") {
					this.found_products.reverse();
				}
				this.store_order = "warehouse_" + this.store_sort.warehouse;
			}
			if (column == "is_active") {
				if (this.store_sort.is_active == "desc") {
					this.store_sort.is_active = "asc";
				} else {
					this.store_sort.is_active = "desc";
				}
				this.found_products = this.found_products.sort(compareStoreIsActive);
				Vue.set(this.found_products, 0, this.found_products[0]);
				if (this.store_sort.is_active == "desc") {
					this.found_products.reverse();
				}
				this.store_order = "net_price_" + this.store_sort.is_active;
			}
			if (column == "net_price") {
				if (this.store_sort.net_price == "desc") {
					this.store_sort.net_price = "asc";
				} else {
					this.store_sort.net_price = "desc";
				}
				this.found_products = this.found_products.sort(compareStoreNetPrice);
				Vue.set(this.found_products, 0, this.found_products[0]);
				if (this.store_sort.net_price == "desc") {
					this.found_products.reverse();
				}
				this.store_order = "net_price_" + this.store_sort.net_price;
			}
			if (column == "gross_price") {
				if (this.store_sort.gross_price == "desc") {
					this.store_sort.gross_price = "asc";
				} else {
					this.store_sort.gross_price = "desc";
				}
				this.found_products = this.found_products.sort(compareStoreGrossPrice);
				Vue.set(this.found_products, 0, this.found_products[0]);
				if (this.store_sort.gross_price == "desc") {
					this.found_products.reverse();
				}
				this.store_order = "gross_price_" + this.store_sort.gross_price;
			}
		},
				
		/**
		 * Check is there enough characters given before search and
		 * call the findProducts() after a small delay
		 */
		findProductsTimer: function() {
			if (this.search.length < 3) {
				this.getLandingProducts();
				return false;
			}
			
			var that = this;
			clearTimeout(this.finder_timer);
			this.finder_timer = setTimeout(function() {
				that.findProducts();
			}, 1000);
		},
		
		/**
		 * Search products after admin used the search field
		 */
		findProducts: function(list_all = 0) {
			var params = new URLSearchParams();
			params.append("product", this.search);
			params.append("landingpage_id", this.landing.id);
			params.append("list_all", list_all);
			
			this.getPaymentsList();
			this.getProductPaymentTypes();
			
			axios.post(base_url + "get_products.php", params, {
				responseType: "json",
			}).then((function (response) {
				this.found_products = response.data.list;
				
				var item;
				for(item in this.found_products) {
					var fproduct_id = this.found_products[item].id;
					Vue.set(this.productJoined, fproduct_id, false);
					
					if (typeof this.product_delivery_type === "object" && !this.product_delivery_type.hasOwnProperty(fproduct_id)) {
						Vue.set(this.product_delivery_price, fproduct_id, 0);
						Vue.set(this.product_delivery_type, fproduct_id, "qty");
					}
					
					if (this.found_products[item].hasOwnProperty("properties") && this.found_products[item].properties.hasOwnProperty("27")) {

						var images = JSON.parse(this.found_products[item].properties[27]);
						console.log(images);
						if (images)
						for(var x in images) {
							console.log(images[x]);
							if (x == this.landing.id) {
								if (typeof images[x] == 'object') {
									this.found_products[item].properties[27] = images[x].thumb;
								} else {
									this.found_products[item].properties[27] = images[x].replace('product/', 'product/200_');
								}
							}
						}
					}
				}
				this.properties = response.data.properties;
				for(product in this.found_products) {
					var is_active = this.landing_products.indexOf(this.found_products[product].id) != -1;
					Vue.set(this.productClass, this.found_products[product].id, {"item": true, "active": is_active});
					Vue.set(this.productJoined, this.found_products[product].id, is_active);
				}

			}).bind(this)); 
		},
		
		/**
		 * Hide or show sidebar - mainly used on mobile
		 */
		SidebarToggle: function() {
			this.$parent.sidebar_display = !this.$parent.sidebar_display;
		},
			
		/**
		 * Close system alert
		 */
		closeAlert: function() {
			this.note = '';
		},
			
		/**
		 * Get the list of the saved services
		 */		
		getServiceList: function() {
			axios.get(base_url + "get_services_list.php", {
				responseType: "json",
			}).then((function (response) {
				this.services = response.data.services;
			}).bind(this)); 
		},
		
		/**
		 * Get the list of products' properties
		 */
		getProductProperties: function() {
			var params = new URLSearchParams();
			params.append("landing_id", this.landing.id);
						
			axios.post(base_url + "property_type_get_list.php", params, {
				responseType: "json",
			}).then((function (response) {
				this.property_types = response.data.list;
			}).bind(this)); 
		},
		
		/**
		 * Get the available discounts' list used in this account
		 */		
		getDiscounts: function() {

			axios.post(base_url + "discounts-list.php", {
				responseType: "json",
			}).then((function (response) {
				this.discounts = response.data.list;
			}).bind(this)); 
		},
		
		/**
		 * Get the current landing page discounts' list
		 */		
		getLandingDiscounts: function() {
			var params = new URLSearchParams();
			params.append("landing_id", this.landing.id);
			
			axios.post(base_url + "landing-discounts-list.php", params, {
				responseType: "json",
			}).then((function (response) {
				this.landingnation_discount = response.data.list;
			}).bind(this)); 
		},
		
		/**
		 * Get the landing page data
		 */		
		getLanding: function() {
			var params = new URLSearchParams();
			params.append("landing_id", this.landing.id);
			
			axios.post(base_url + "landing_page_get.php", params, {
				responseType: "json",
			}).then((function (response) {
				if (response.data.landing) {
					this.landing = response.data.landing;
					this.delivery_type = response.data.data.delivery_type;
					this.delivery_price = response.data.data.delivery_price;
					this.free_pickup = response.data.data.free_pickup;
					this.out_of_stock = response.data.data.out_of_stock;
					
					if (!this.out_of_stock) {
						this.out_of_stock = 0;
					}
					
					if (response.data.data.product_delivery_type) {
						this.product_delivery_type = response.data.data.product_delivery_type;
						this.product_delivery_price = response.data.data.product_delivery_price;
					}
				}
			}).bind(this)); 
		},
		
		/**
		 * Get the landing page products
		 */		
		getLandingProducts: function() {
			var params = new URLSearchParams();
			params.append("landing_id", this.landing.id);
			axios.post(base_url + "landing_page_products_get.php", params, {
				responseType: "json",
			}).then((function (response) {
				this.landing_products = response.data.products;
				this.findProducts(1);
			}).bind(this)); 
		},
		
		/**
		 * Save the landing page information, properties, etc
		 */		
		saveLanding: function() {
			var params = new URLSearchParams();
			params.append("landing_id", this.landing.id);
			params.append("landing_name", this.landing.name);
			params.append("landing_properties", JSON.stringify(this.property_types));
			
			axios.post(base_url + "landing_page_update.php", params, {
				responseType: "json",
			}).then((function (response) {
				if (response.data.status) {
					this.note = this.$t("Landing page saved.");
					this.alert_class = 'alert-note';				
				} else {
					this.note = this.$t("Unfortunately there was a problem during the save.");
					this.alert_class = 'alert-danger';
				}
			}).bind(this)); 
		},
		
		/**
		 * Add landing page new property
		 */		
		addProperty: function() {
			this.property_types.push({});
		},
		
		/**
		 * Delete the selected landing page property
		 */		
		deleteProperty: function(index) {
			Vue.delete(this.property_types, index);
		},
		
		/**
		 * after page load, load every important data
		 */		
		onCreated: function() {
			this.is_visible = this.is_page_visible;

			this.getServiceList();
			this.getLanding();
			this.getProductProperties();
			this.getLandingProducts();
			this.getDiscounts();
			this.getLandingDiscounts();
			this.getProductPaymentTypes();		
		},
	},
	mounted: function() {
		this.$nextTick(function() {
			this.is_visible = this.is_page_visible;
			this.base_url = base_url;
		});
		this.onCreated();	
		
	},
	updated: function() {
		if (!document.getElementById('items')) {
			return;
		}
		
		var self = this;
		self.$nextTick(function(){
			var sortable = Sortable.create(document.getElementById('items'), {
				onEnd: function(e) {
					var clonedItems = self.found_products.filter(function(item){
					 return item;
					});
					clonedItems.splice(e.newIndex, 0, clonedItems.splice(e.oldIndex, 1)[0]);					
					self.found_products = [];
					self.$nextTick(function(){
						self.found_products = clonedItems;
						
						products = [];
						for(var product in self.found_products) {
							products.push(self.found_products[product].id);
						}
						
						var params = new URLSearchParams();
						params.append("landingpage_id", this.landing.id);
						params.append("products", products);
						axios.post(base_url + "save-landing-product-sort.php", params, {
							responseType: "json",
						}).then((function (response) {
							
						}).bind(this)); 
					});
					
				}
			}); 
		});
		
	}
}
</script>
